.header {
  /* width: calc(100% - 296px); */
  /* max-width: 984px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header__title {
  max-width: 720px;
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin-top: 91.06px;
  color: white;
  text-align: center;
}

.header__subtitle {
  max-width: 720px;
  margin: 0;
  margin-top: 32px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.header__image {
  margin-top: 64px;
  /* max-width: 984px; */
  width: 100%;
  height: 615px;
  object-fit: fill;
}

/* @media (max-width: 1024px) {
  .header {
    width: 100%;
  }
} */

@media (max-width: 1024px) {
  .header {
    width: 100%;
  }

  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }

  .header__subtitle {
    max-width: 707px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  .header__image {
    max-width: 768px;
    height: 480px;
    /* width: 100%; */
    object-fit: cover;
  }
}

@media (max-width: 544px) {
  .header__title {
    width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }

  .header__subtitle {
    width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .header__image {
    max-width: 100%;
    height: 200px;
  }
}
