.photo-grid {
  width: calc(100% - 96px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 213px;
}
